.HeroImage{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
}

.HeroImage:before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 80%;
}

.Layout{
    display: block;
    position: absolute;               
    top: 50%;
    width: 100%;
    transform: translate(0%, -50%);
}

.Layout img{
    display: block;
    margin: 0px auto 0px;
}

.Layout hr{
    width: 160px;
    margin: 104px auto 0px;
    border: none;
    height: 2px;
}

.Layout p{
    max-width: 400px;
    margin: 24px auto 0px;
    padding:0px 16px;
    text-align: center;
    font-size: 20px;
    font-family: 'Source Sans Pro';
    font-weight: 100;
}

 .Layout p:last-of-type{
     margin-top: 32px;
     font-size: 16px;
     font-weight: 600;
 }

 @media only screen and (max-width: 600px) {
    .Layout img{
        width: 180px;
    }

    .Layout p{
        max-width: 254px;
        font-size: 16px;
    }

    .Layout p:last-of-type{
        margin-top: 24px;
        font-size: 12px;
        font-weight: 600;
    }

    .Layout hr{
        margin-top:64px;
    }
  }

 /* Dark Theme */
    /* Dark Theme */
        /* Dark Theme */

.HeroImage.dark{
    background-color: #181818;
    background-position: right;
    background-image: url("../../public/static/images/media_background.png");
}

.dark hr{
    color: #ffc900; /* old IE */
    background-color: #ffc900; /* Modern Browsers */
}

.HeroImage.dark:before{
    background-color: #181818;
}

.dark .Layout p{
    color: #ffffff;
}





/* Light Theme */
    /* Light Theme */
        /* Light Theme */

        .HeroImage.light{
            background-color: #ffffff;
            background-position: left;
            background-image: url("../../public/static/images/ux_background.png");
        }
        
        .HeroImage.light hr{
            color: #FF006C; /* old IE */
            background-color: #FF006C; /* Modern Browsers */
        }
        
        .HeroImage.light:before{
            background-color: #ffffff;
        }

        .light .Layout p{
            color: #181818;
        }