/* Common */

.superTile{
    width: 50%;
    height: 100vh;
    float: left;
    background-color: #181818;
    color: #ffffff;
    position: relative;
}

.superTile img{
    margin: 0;
    position: absolute;               
    top: 50%;
    left: 50%;                         
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1024px) {
    .superTile {
      width: 100%;
      height: 50vh;
    }
  }

/* Light Theme */

.light{
    background-color: #ffffff;
    color: #181818;
    background-image: url("../../public/static/images/ux_background.png");
    background-size: cover;
}

.light:before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #ffffff;
    opacity: 80%;
}

.light:hover:before{
    opacity: 60%;
}

/* Dark Theme */

.dark{
    background-color: #181818;
    color: #ffffff;
    background-image: url("../../public/static/images/media_background.png");
    background-size: cover;
    background-position: right;
}

.dark:before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #181818;
    opacity: 80%;
}

.dark:hover:before{
    opacity: 60%;
}

