.superTile{
    width: 50%;
    height: 100vh;
    float: left;
    background-color: #000000;
    color: #ffffff;
    position: relative;
}



.light{
    background-color: #ffffff;
    color: #000000;
    background-image: url("");
}

.light:hover{
    background-color: #f5f5f5;
}

.dark{
    background-color: #000000;
    color: #ffffff;
}

.dark:hover{
    background-color: #111111;
}

img{
    margin: 0;
    position: absolute;               
    top: 50%;
    left: 50%;                         
    transform: translate(-50%, -50%);
}